{% extends "_base_create_update.html" %}
{% load static %}
{% load bootstrap3 %}

{% block form %}
    <form action="" method="post" class="form-horizontal">
        {% if form.no_field_errors %}
            <div class="alert alert-danger">
            {{ form.non_field_errors }}
            </div>
        {% endif %}
        {% csrf_token %}

        <h3>基本信息</h3>
        {% bootstrap_field form.hostname layout="horizontal" %}
        {% bootstrap_field form.ip layout="horizontal" %}
        {% bootstrap_field form.type layout="horizontal" %}
        {% bootstrap_field form.idc layout="horizontal" %}
        {% bootstrap_field form.cabinet_no layout="horizontal" %}
        {% bootstrap_field form.cabinet_pos layout="horizontal" %}

        <div class="hr-line-dashed"></div>
        <h3>远程控制</h3>
        {% bootstrap_field form.certification layout="horizontal" %}
        {% bootstrap_field form.port layout="horizontal" %}

        <div class="hr-line-dashed"></div>
        <h3>其他</h3>
        {% bootstrap_field form.status layout="horizontal" %}
        {% bootstrap_field form.comment layout="horizontal" %}

        <div class="hr-line-dashed"></div>
        <div class="form-group">
            <div class="col-sm-4 col-sm-offset-2">
                <button class="btn btn-default" type="reset">重置</button>
                <button class="btn btn-primary" id="submit_button" type="submit">提交</button>
            </div>
        </div>
    </form>
{% endblock %}