{% load static %}

<script src="{% static 'js/plugins/metismenu/jquery.metisMenu.js' %}"></script>

<script src="{% static 'js/plugins/toastr/toastr.min.js' %}"></script>
<script src="{% static 'js/inspinia.js' %}"></script>
<script src="{% static 'js/angularpy.js' %}"></script>

<script>
    activeNav();
    $(document).ready(function () {
        setAjaxCSRFToken();
        $("textarea").attr("rows", 5);
        if ($(".tooltip")[0]){
            $(".tooltip").tooltip();
        }
    })
</script>